# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.gitattributes

# idea
out
*.ipr
*.iws
*.iml
.idea
idea

# gradle
build
.gradle

# minecraft
.minecraft/
eclipse
run

# Files from Forge MDK
forge*changelog.txt
docs