# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project
.gitattributes

# idea
out
*.ipr
*.iws
*.iml
.idea/
idea

# gradle
build
.gradle

# minecraft
.minecraft/
eclipse
run

# Files from Forge MDK
forge*changelog.txt
docs/
minecraft-clientOnly-52430b475d-26.1.2-sources/
minecraft-common-52430b475d-26.1.2-sources/
Blockstates.md
UniMixins-master/
unimixins-all-1.7.10-0.2.1-sources/
Block-Items-l10n.md/
3D-Textures.md
.vscode/
GTNHLib/
modeernmodelreading.txt
/d35g6h4e-commitnote.txt
/Block-Items-l10n.md
/ItemModel.md
